<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  (c) 2003-2016 MuleSoft, Inc. This software is protected under international copyright
  ~  law. All use of this software is subject to MuleSoft's Master Subscription Agreement
  ~  (or other master license agreement) separately entered into in writing between you and
  ~  MuleSoft. If such an agreement is not in place, you may not use the software.
  ~
  -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <!-- https://www.srccodes.com/shorten-logger-name-customize-optimize-exception-stack-traces-logback-logstashencoder-shortenedthrowableconverter/ -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.CompositeJsonGeneratorDecorator">
                <decorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
            </jsonGeneratorDecorator>
            <shortenedLoggerNameLength>15</shortenedLoggerNameLength>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                <shortenedClassNameLength>20</shortenedClassNameLength>
                <exclude>sun\.reflect\..*\.invoke.*</exclude>
                <exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                <exclude>org\.springframework\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                <exclude>.*CglibAopProxy\$CglibMethodInvocation.*</exclude>
                <exclude>.*ReflectiveMethodInvocation\.proceed.*</exclude>
                <rootCauseFirst>true</rootCauseFirst>
                <inlineHash>true</inlineHash>
            </throwableConverter>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON"/>
    </root>
</configuration>